.cards li {
	background: url(../img/back-card.jpg) no-repeat center;
    list-style: none;
    display: inline-block;
    background-size: cover;
    width: 23%;
    height: 17vh;
    margin: 2px;
}

.matched {
    visibility: hidden;
}

#show-beemo-card {
    background: url(../img/beemo-detective-card-small.jpg) no-repeat center;
    background-size: cover;
}

@media screen and (min-width: 590px) {
    .cards li {
        background: url(../img/back-card-small.jpg) no-repeat center;
        background-size: cover;
    }

    #show-beemo-card {
        background: url(../img/beemo-detective-card.jpg) no-repeat center;
        background-size: cover;
    }
}