.menu {
	width: 100%;
	display: flex;
    justify-content: space-around;

	p, h1 {
		display: inline-block;
	}
}

.title {
	text-align: center;
}

.button-reset {
	width: 25%;
	padding: 1%;
	color: #ffd320;
	border: 1px solid #ffd320;
	cursor: pointer;
	font-size: 15px;

	&:hover {
		background-color: #ffd320;
		color: #000;
	}
}

@media screen and (min-width: 590px) {
	.button-reset {
		width: 10%;
		padding: 0;
		font-size: 18px;
	}
}